In [1]:
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [62]:
df = pd.read_csv('dataset/04-advertising_dataset.csv')

In [64]:
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [70]:
df.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   15.130500
std     85.854236   14.846809   21.778621    5.283892
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   11.000000
50%    149.750000   22.900000   25.750000   16.000000
75%    218.825000   36.525000   45.100000   19.050000
max    296.400000   49.600000  114.000000   27.000000

In [71]:
df = df.drop('TV', axis=1)
df = df.drop('Newspaper', axis=1)
df.head()

   Radio  Sales
0   37.8   22.1
1   39.3   10.4
2   45.9   12.0
3   41.3   16.5
4   10.8   17.9

In [72]:
X = df.iloc[:, :-1]
y = df.iloc[:,df.shape[1]-1]

In [74]:
X.head()

   Radio
0   37.8
1   39.3
2   45.9
3   41.3
4   10.8

In [75]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=42)

In [76]:
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [77]:
y_pred = model.predict(X_test)

In [78]:
print(f'b = {model.intercept_}')
print(f'w = {model.coef_}')

b = 12.855875291135806
w = [0.11553615]

In [79]:
print("Mean squared error: %.2f" % mean_squared_error(y_test, y_pred))
print("Coefficient of determination: %.2f" % r2_score(y_test, y_pred))

Mean squared error: 25.52
Coefficient of determination: 0.06

In [82]:
data = {
      'Radio': [10.8]
}
data = pd.DataFrame(data)
val = model.predict(data)
print(val)

[14.10366569]