In [7]:
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import LabelEncoder

In [8]:
df = pd.read_csv('dataset/05-insurance_charges.csv')

In [9]:
df.shape

(1338, 7)

In [12]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [43]:
encoded_data = pd.get_dummies(df, columns=['sex', 'smoker', 'region'])

In [48]:
missing_cols = set(X_train.columns) - set(encoded_data.columns)
for col in missing_cols:
    encoded_data

NameError: name 'X_train' is not defined

In [46]:
x = encoded_data.drop('charges',axis=1)
y = encoded_data['charges']

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

NameError: name 'X' is not defined